body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdfcfb;
  color: #111;
  text-align: center;
  padding: 20px;
}
input, button, select {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.song-box, .playlist-box {
  background: #fff;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
audio {
  width: 100%;
  margin-top: 10px;
}
button {
  background-color: #009688;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #00796b;
}
