body {
  font-family: sans-serif;
  background: #f3f3f3;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ff5722;
}

#songList {
  list-style: none;
  padding: 0;
}

#songList li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  max-width: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

#songList li:hover {
  background: #ffe0b2;
}

audio {
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
}
